[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rspec"]
	path = .vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule ".vim/bundle/tslime.vim"]
	path = .vim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-over"]
	path = .vim/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
