[user]
	email = peter@peterschilling.org
	name = Peter Schilling
	signingkey = 199EE0567FA86B48
[color]
	ui = auto
[alias]
	a = add
	aa = add --all
	amend = commit --amend
	b = branch
	br = for-each-ref --count 20 --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:green)%(refname:short)%(color:reset) - %(color:magenta)%(authorname)%(color:reset) (%(committerdate:relative)) %(objectname:short)'
	bra = ! git remote prune origin && git for-each-ref --count 20 --sort=-committerdate refs/ --format='%(HEAD) %(color:green)%(refname:short)%(color:reset) - %(color:magenta)%(authorname)%(color:reset) (%(committerdate:relative))'
	c = commit
	ca = commit --all
	co = ! echo "🚨 use restore or switch instead, or cof if you must"
	cof = checkout
	current-branch = !sh -c 'git rev-parse --abbrev-ref HEAD' - # used by PS1
	ft = "!f() { git switch -c $(echo $@ | slugger); }; f"
	pru = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
	cleanup = !branch-cleanup

	# use push -u the first time you push
	# https://stackoverflow.com/a/19021888/692224
	pu = "![[ $(git config \"branch.$(git rev-parse --abbrev-ref HEAD).merge\") = '' ]] && git push -u || git push"

	da = diff HEAD
	dc = diff --cached
	di = diff

	ls = !git status --porcelain | sed s/^...//
	s = status
	sv = status -v -v
	us = reset HEAD
	fa = fetch --all
	l = log
	r = restore -s HEAD

	ff = merge --ff-only
	noff = merge --no-ff

	track = "!git commit --allow-empty -m \"Tagging tracker story [#${1#'#'}]\n\nhttps://www.pivotaltracker.com/story/show/${1#'#'}\" #"
	deliver = "!git commit --allow-empty -m \"Deliver tracker story [delivers #${1#'#'}]\n\nhttps://www.pivotaltracker.com/story/show/${1#'#'}\" #"
	finish = "!git commit --allow-empty -m \"Finish tracker story [finishes #${1#'#'}]\n\nhttps://www.pivotaltracker.com/story/show/${1#'#'}\" #"

	today = !git log --format=summary \
	  --after $(date -v0M -v0S -v0H +%Y-%m-%dT%H:%M:%S%z)

	yesterday = !git log --format=summary \
	  --after $(date -v -1d -v0M -v0S -v0H +%Y-%m-%dT%H:%M:%S%z) \
	  --before $(date -v0M -v0S -v0H +%Y-%m-%dT%H:%M:%S%z)

	ctags = "!.git/hooks/ctags"

	main = !git switch $(default-branch) && git pull --rebase

	pr = !gh pr create -B $(default-branch)
	prt = "!gh pr create -B $(default-branch) --title \"$(tracker-title $(tracker id))\" --body \"$(tracker url) [delivers #$(tracker id)]\" --web"
	pro = !hub pr show
	issues = !hub browse -- issues
[push]
	default = current
[diff]
	algorithm = patience
	noprefix = true
[grep]
	extendRegexp = true
	lineNumber = true
[web]
	browser = open
[merge]
	tool = vimdiff
	summary = true
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	ignorecase = false
	# editor = code --wait
[pretty]
	summary = - %C(yellow)%an%Creset %s
[diff "exif"]
	textconv = exiftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
	verbose = true
[rerere]
	enabled = true
[pull]
	ff = only
