[user]
	email = peter@peterschilling.org
[alias]
  a = add
  aa = add --all
  amend = commit --amend
  b = branch
  bo = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  c = commit --verbose
  ca = commit --all --verbose
  co = checkout
  current-branch = !sh -c 'git rev-parse --abbrev-ref HEAD' -
  di = diff
  s = status
  dmb = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[push]
  default = current
[diff]
  algorithm = patience
[grep]
  extendRegexp = true
  lineNumber = true
[web]
  browser = open
[merge]
  tool = vimdiff
[core]
	excludesfile = ~/.cvsignore
	pager = less -S
	editor = vim
[merge]
	summary = true
