.CFUserTextEncoding
.DS_Store
.Trash/
.adobe/
.bash_history
.bundle/
.cache/
.config/
.cups/
.dropbox/
.gem/
.heroku/
.history
.lesshst
.netrc
.npm
.pow
.pry_history
.psql_history
.rbenv/
.rspec
.ssh/
.subversion/
.tmux.conf
.vim/.netrwhist
.viminfo
.zcompdump
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
art/
code/
torrents/
